body {
    margin: 0;
}

.container {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #1B244A;
    width: 575px;
    height: 355px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.container2 {
    display: flex;
    justify-content: space-around;
}

.container3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 40px;
    color: #EEEEEE;
    margin-bottom: -70px;
}

#header1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    color: #EEEEEE;
    margin-bottom: -90px;
}

.scr {
    width: 155px;
    height: 120px;
    border-radius: 10px;
    background-color: #080001;
    color: #F94F6D;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-weight: 400;
    font-size: 90px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prd {
    width: 50px;
    height: 100px;
    border-radius: 10px;
    background-color: #080001;
    color: #00D100;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

#btn {
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background-color: #1B244A;
    color: #9AABD8;
}

#btn1 {
    width: 90px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background-color: #1B244A;
    color: #9AABD8;
}